<header class="navbar navbar-expand navbar-dark bg-dark">
  <h1 class="navbar-brand">GROCERYLIST</h1>
  <nav class="navbar-nav ml-3">
    <a href="/lists" class="nav-item nav-link <%= (active === 'lists') ? 'active' : 'inactive' -%>">Lists</a>
    <a href="/drivers" class="nav-item nav-link <%= (active === 'drivers') ? 'active' : 'inactive' -%>">Drivers</a>
  </nav>
</header>
